body {
  background-repeat: repeat-y;
  background-size: cover;
}

.intro {
  background-color: rgb(222, 184, 135, .75);
  margin:1em;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  padding:1em;
  border: .5em solid rgba(24, 12, 1);
  font-weight: bolder;
}

.intro p {
  text-align:start;
  margin:1em;
}

.intro img {
  width: 100%;
}
.active {
  margin: 1em;
  float:right;
  box-sizing: border-box;
  background-color: rgb(222, 184, 135, .75);
  width:70%;
  text-align: left;
  display: flexbox;
  justify-content: left;
  padding:1em;
  border: .5em solid rgba(24, 12, 1);
}

.sidebar {
  margin:1em;
  float:left;
  box-sizing: border-box;
  background-color: rgb(222, 184, 135, .75);
  width:20%;
  text-align: left;
  display: flexbox;
  justify-content: left;
  padding:1em;
  border: .5em solid rgba(24, 12, 1);
}



.sidebar ul {
  list-style-type: none;
  margin:1em;
  padding:1em;
}


a {
  color: rgb(44, 35, 20);
}

.boxen {
  width: 100%;
  background-color: rgb(222, 184, 135, .75);
  margin-bottom:1em;
  margin-right:2em;
  text-align: left;
  font-family: 'Times New Roman', Times, serif;
  padding:1em;
  border: .5em solid rgba(24, 12, 1);

  box-sizing: border-box;
}

.boxen p {
  text-indent:2em;
  line-break: auto;
}

.imp {
  font-weight: bold;
}