body {
  background-repeat: repeat-y;
  background-size: cover;
}

h1, h2 {
  font-weight: bold;
}

.intro {
  background-color: rgb(222, 184, 135, .75);
  margin:1em;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  padding:1em;
  border: .5em solid rgba(24, 12, 1);
  font-weight: bolder;
  white-space:normal;
  font-size:2vw;
}

.intro p {
  text-align:start;
  margin:1em;
}

.intro img {
  width: 100%;
  height:auto;
}

.sidebar {
  margin:1em;
  float:left;
  box-sizing: border-box;
  background-color: rgb(222, 184, 135, .75);
  width:20%;
  text-align: left;
  display: flexbox;
  justify-content: left;
  padding:1em;
  border: .5em solid rgba(24, 12, 1);
}

.sidebar ul {
  padding:1em;
  font-weight: bolder;
}

.active {
  margin: 1em;
  float:right;
  box-sizing: border-box;
  background-color: rgb(222, 184, 135, .75);
  width:70%;
  text-align: left;
  display: flexbox;
  justify-content: left;
  padding:1em;
  border: .5em solid rgba(24, 12, 1);
}

.active strong {
  display:block;
}

.sidebar strong {
  font-size: 2em;
}

a {
  color: rgb(44, 35, 20);
}

.boxen {
  width: 100%;
  background-color: rgb(222, 184, 135, .75);
  margin-bottom:1em;
  text-align: left;
  font-family: 'Times New Roman', Times, serif;
  padding:1em;
  border: .5em solid rgba(24, 12, 1);
}

.boxen p {
  text-indent:2em;
  line-break: auto;
}

.imp {
  font-weight: bold;
}

#demo {
  margin:1em;
  padding:1em;
}